html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    p.has-text-centered
      // img.splash(src='bg.png')

    .container
      .hero
        .hero-body
          .has-text-centered
            // div(style='margin-bottom: 2rem;')
            //   h1.title
            //     | Audição de Piano

            //   h2.subtitle
            //     | 4 de janeiro de 2023, 17h45
            //     br
            //     | Classe da Professora Teresa Raminhos

            // img(src='qr.png')

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')

          **Duarte Teixeira, Iniciação II**

          - I can do it - Phillip Keveren
          - Merrily we're off to school - Phillip Keveren
          - My best friend - Phillip Keveren

          **Guilherme Simões, Iniciação III**

          - Long, long ago - Phillip Keveren
          - Tambourine tune - Phillip Keveren
          - Jingle bells - arr. Phillip Keveren

          **Dylan Palma, Iniciação IV**

          - O sapinho - Alice Botelho
          - No balanço - Alice Botelho
          - Silent night - Phillip Keveren

          **Sara Campos, Iniciação IV**

          - O girassol - Michael Aaron
          - Estudo em Dó Maior - Michael Aaron
          - We wish you a Merry Christmas - Canção tradicional inglesa

          **Eva Baptista, 2.º Grau**

          - Payasos - Dmitry Kabalevsky

          **Igor Lopes, 3.º Grau**

          - Prelúdio em Dó Maior (23 Peças Fáceis) - J. S. Bach
          - Carroussel - Frederico de Freitas

          **Gonçalo Soares, 5.º Grau**

          - Invenção n.º 4 - J. S. Bach

          **Manuel Soares, 5.º Grau**

          - Nocturno op. 9 n.º 2 - Frédéric Chopin

          **Gabriel Ferreira, 5.º Grau**

          - Sonata K.282, 2.º andamento - W. A. Mozart
          - Tom Waits - António Pinho Vargas

          **Gabriel Santos, 6.º Grau**

          - Sinfonia n.º 11 - J. S. Bach
          - Sonata Hob XVI:23, 1.º andamento - Joseph Haydn

        .section.has-text-centered
          p
            | A prof. Teresa Raminhos deseja a todos os pais e Encarregados de Educação umas Festas Felizes.
          br
          p
            img(src='footer.png' width=250)
