html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    img(src='./cartaz.jpg' width='100%')
    .container
      .hero
        .hero-body
          .has-text-centered
            .is-hidden
              h1.title
                | Audição de Piano

              h2.subtitle
                | 5 de junho de 2019, 18:45
                br
                | Classe da Professora Teresa Raminhos

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')
          **Eva Baptista** <span class='degree'>Iniciação I</span>

          * Hino da Alegria - _Beethoven_

          **Beatriz Amaral** <span class='degree'>Iniciação IV</span>

          * Rustic Dance - _Barbara Kreader_

          **Gabriel Santos** <span class='degree'>1.º Grau</span>

          * Estudo n.º 27 op. 599 - _Czerny_
          * Musette - _Bach_

          **Leonor Ferreira** <span class='degree'>1.º Grau</span>

          * Estudo n.º 14 op. 599 - _Czerny_

          **Luciano Pires** <span class='degree'>2.º Grau</span>

          * Trumpet Menuet - _Duncombe_

          **Matilde Pinho** <span class='degree'>2.º Grau</span>

          * Estudo n.º 61 op. 599 - _Czerny_
          * Menuet em Ré menor (livro de Anna Magdalena Bach) - _Bach_

          **Alix Fernandes** <span class='degree'>2.º Grau</span>

          * Estudo n.º 56 op. 599 - _Czerny_

          **Rodrigo Sobral** <span class='degree'>3.º Grau</span>

          * Nocturne - _Mona Rejino_

          **Rodrigo Marques** <span class='degree'>3.º Grau</span>

          * Bourée em Si menor - _Bach_
          * La Chevaleresque - _Burgmüller_

          **Ana Marques** <span class='degree'>I.T. 2</span>

          * Coral n.º 112 - _Bach_

        .section.has-text-centered
          p
            | A Prof. Teresa Raminhos deseja a todos os Pais e Encarregados de
            | Educação umas boas férias!
