html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
      | .headline { margin-bottom: 3rem; }
  body
    img(src='./cartaz.png' width='100%')
    .container
      .hero
        .hero-body
          .has-text-centered
            .headline
              h1.title
                | Audição de Piano

              h2.subtitle
                | 4 de dezembro de 2019, 19:00
                br
                | Classe da Professora Teresa Raminhos

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')
          **Eva Baptista** <span class='degree'>Iniciação II</span>

          * Petit pas — _Hervé Pouillard_
          * Ronde — _Hervé Pouillard_
          * La fete — _Hervé Pouillard_

          **Gonçalo Soares** <span class='degree'>1º Grau</span>

          * Estudo n.º 11 op. 599 — _Czerny_
          * Peça — _Maria de Lourdes Martins_

          **Beatriz Amaral** <span class='degree'>1.º Grau</span>

          * Dança Alemã — _Beethoven_
          * Ribbons — _Fred Kern_

          **Gabriel Ferreira** <span class='degree'>1.º Grau</span>

          * Estudo n.º 14 op. 599 — _Czerny_
          * Dança Índia — _Gillock_

          **Manuel Soares** <span class='degree'>1.º Grau</span>

          * Estudo n.º 3 — _Bradley_
          * Breakfast Time — _Allan Bullard_

          **Leonor Ferreira** <span class='degree'>2.º Grau</span>

          * Estudo n.º 80 op. 108 — _Schitte_
          * Musette — _Bach_

          **Gabriel Santos** <span class='degree'>2.º Grau</span>

          * Menuet em Sol Maior — _Bach_
          * Arabesco — _Burgmüller_

          **Matilde Pinho** <span class='degree'>3.º Grau</span>

          * Nocturne — _Mona Rejino_

          **Rodrigo Marques** <span class='degree'>4.º Grau</span>

          * Invenção a duas vozes n.º 8 — _Bach_
          * Canto de Luar — _Ivo Cruz_

          **Rodrigo Marques** <span class='degree'>4.º Grau</span>

          **Marta Rocha** <span class='degree'>4.º Grau</span>

          **Rita Cortez** <span class='degree'>5.º Grau</span>

          * And the sunflower smiles — _Manfred Schmitz_
          * The shortest minuet in the world — _Manfred Schmitz_
          * The ragtime class — _Manfred Schmitz_
          * In Dreamland — _Manfred Schmitz_


        .section.has-text-centered
          p
            | A Prof. Teresa Raminhos deseja a todos os Pais e Encarregados de
            | Educação um Feliz Natal e um Próspero Ano Novo!
