html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    p.has-text-centered
      img.splash(src='bg.png')

    .container
      .hero
        .hero-body
          .has-text-centered
            div(style='margin-bottom: 2rem;')
              h1.title
                | Audição de Piano

              h2.subtitle
                | 15 de dezembro de 2021, 18:10
                br
                | Classe da Professora Teresa Raminhos

              // img(src='qr.png')

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')
          **Eva Baptista** <span class='degree'>Iniciação IV</span>

          * Estudo em Dó Maior — Carl Czerny
          * Estudo em Dó Maior — Elena Gnessina

          **Ana Beatriz Silva** <span class='degree'>1.º Grau</span>

          * Gypsy Caravan — John Thompson
          * Quando os Santos vão marchando — James Bastien

          **Igor Lopes** <span class="degree">1.º Grau</span>

          * O vendedor de cocadas — Alice Botelho
          * Minha valsinha — Alice Botelho
          * O índio alegre — Alice Botelho
          * No balanço — Alice Botelho

          **Manuel Soares** <span class='degree'>3.º Grau</span>

          * Estudo n.º 8 op. 849 — Carl Czerny
          * Ária — António Fragoso

          **Gabriel Ferreira** <span class='degree'>3.º Grau</span>

          * Estudo n.º 9 op. 849 — Carl Czerny
          * Carroussel — Frederico de Freitas

          **Gonçalo Soares** <span class='degree'>3.º Grau</span>

          * Estudo n.º 6 op. 849 — Carl Czerny
          * Prelúdio em Dó Maior — J. S. Bach

          **Gabriel Santos** <span class='degree'>4.º Grau</span>

          * Estudo n.º 4 op. 299 — Carl Czerny
          * Invenção a duas vozes n.º 1 — J. S. Bach

          **Rodrigo Marques** <span class='degree'>6.º Grau</span>

          * Invenção a três vozes, n.º 15 — J. S. Bach
          * Sonata Hob XVI: 23, 1.º andamento — Joseph Haydn

        .section.has-text-centered
          p
            | A Professora Teresa Raminhos deseja a todos um Feliz Natal e um Bom Ano Novo!
