html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    p.has-text-centered
      img.splash(src='https://cdn.merriammusic.com/2020/04/Piano-Notes.jpeg' width="100%")

    .container
      .hero
        .hero-body
          .has-text-centered
            div(style='margin-bottom: 2rem;')
              h1.title
                | Audição de Piano

              h2.subtitle
                | 23 de maio de 2024, 17h45
                br
                | Sala Polivalente
                br
                | Classe da Professora Teresa Raminhos

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')

          **Eva Baptista, 2.º Grau**

          - Menuet em Sol Maior BWV Anh.114 - J. S Bach
          - Estudo em Fá Maior, n.º 29 - A. Biehl 
          - Sonatina em Dó Maior, 1.º andamento - A. Biehl 
          - A whole new world - Arr. Phillip Keveren

          **Gonçalo Soares, 5.º Grau**

          - Invenção a duas vozes n.º 8 - J.S. Bach
          - Sonata H.106, 3.º andamento - C. P. E. Bach
          - Gavotte em Ré menor - D. Scarlatti
          - Prelúdios IV e VI - António Fragoso
          
          **Gabriel Ferreira, 5.º Grau**
          
          - Invenção a duas vozes n.º 8 - J.S. Bach
          - Sonata K282, 2.º andamento - W.A. Mozart
          - Tom Waits - A. Pinho Vargas
          - Bagatela op. 5 n.º 6 - A. Tcherepnine
          
          **Manuel Soares, 5.º Grau**
          
          - Invenção a três vozes n.º 5 - J.S. Bach
          - Sonata Hob XVI:2, 1.º andamento - J. Haydn
          - Nocturno op. 9 n.º 2 - F. Chopin 
          - Prelúdio n.º 1 - A. Vitorino de Almeida

        .section.has-text-centered
          p
            | A prof. Teresa Raminhos deseja a todos os pais e Encarregados de Educação umas boas férias de Verão!
