html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    p.has-text-centered
      img.splash(src='https://cdn.merriammusic.com/2020/04/Piano-Notes.jpeg' width="100%")

    .container
      .hero
        .hero-body
          .has-text-centered
            div(style='margin-bottom: 2rem;')
              h1.title
                | Audição de Piano

              h2.subtitle
                | Classe da Professora Teresa Raminhos
                br
                br
                | 12 de junho de 2024, 18:15
                br
                | Fundação Dionísio Pinheiro

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')

          **Duarte Teixeira, Iniciação II**

          - My best friend - P. Keveren
          - Tambourine tune - P. Keveren
          - Long, long ago - T. Bailey

          **Guilherme Simões, Iniciação III**

          - Escala do amor - M. Aaron
          - Estudo n° 13 - M. Aaron
          - No balanço - A. Botelho

          **Dylan Palma, Iniciação IV**

          - Estudo n° 18 - D. Bradley
          - Breakfast time - A. Bullard

          **Sara Campos, Iniciação IV**

          - Estudo n° 45 - D. Bradley
          - Sonatina em Dó Maior - J. Bastien

          **Eva Baptista, 2.º Grau**

          - Menuet em Sol Maior BWV Anh 114 - J.S. Bach
          - Estudo em Fá Maior n° 29 (50 estudos de Thompson) - A. Biehl

          **Igor Lopes, 3.º Grau**

          - Ballade - F. Burgmüller

          **Gonçalo Soares, 5.º Grau**

          - Prelúdios IV e VI - António Fragoso

          **Manuel Soares, 5.º Grau**

          - Nocturno op. 9 n° 2 - F. Chopin
          - Prelúdio I - A. Vitorino de Almeida

          **Gabriel Ferreira, 5.º Grau**

          - Tom Waits - A. Pinho Vargas

          **Gabriel Santos, 6.º Grau**

          - Sinfonia n° 3 em Ré Maior - J.S. Bach

        .section.has-text-centered
          p
            | A prof. Teresa Raminhos deseja a todos os pais e Encarregados de Educação umas boas férias de Verão!
