html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    //img(src='./cartaz.jpg' width='100%')
    .container
      .hero
        .hero-body
          .has-text-centered
            .is-hidden
              h1.title
                | Audição de Piano

              h2.subtitle
                | 5 de junho de 2019, 18:45
                br
                | Classe da Professora Teresa Raminhos

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')
          **Ana Flôr Albuquerque** <span class='degree'>Iniciação I</span>

          * Long, long ago — Phillip Keveren

          **Eva Baptista** <span class='degree'>Iniciação II</span>

          * Chanson tendre— Hervé Pouillard
          * Le petit poney — Hervé Pouillard
          * Petite Marche — Hervé Pouillard

          **Francisca Bastos** <span class='degree'> 1.º grau</span>

          * Polka— Daniel Hellbach

          **Margarida Matos** <span class='degree'>1.º Grau</span>

          * Invenção a duas vozes em Sol Maior — Hervé Pouillard

          **Juliana Nunes** <span class='degree'>1.º Grau</span>

          * Gigue — Georg Haendel

          **Manuel Soares** <span class='degree'>1.º Grau</span>

          * Sonatina n.º 1 em Dó Maior — Fritz Spindler
          * Estudo n.º 44 — Dorothy Bradley

          **Gabriel Ferreira** <span class='degree'>1.º Grau</span>

          * Sonatina em Dó Maior — Frank Lynes
          * Big Blast — Fred Kern

          **Gonçalo Soares** <span class='degree'>1.º Grau</span>

          * Sonatina em Sol Maior — Thomas Attwood
          * Rollercoaster Ride — David Blackwell

          **Beatriz Amaral** <span class='degree'>1.º Grau</span>

          * Sonatina em Sol Maior — Ludwig van Beethoven
          * Jalopy Cat — Phillip Keveren

          **Roberto Silva** <span class='degree'>2.º Grau</span>

          * Menuet em Sol Maior — J. S. Bach

          **Gabriel Santos** <span class='degree'>2.º Grau</span>

          * Sonatina n.º 3 em Dó Maior — Fritz Spindler
          * Cool Stepper — Carol Klose

          **Matilde Pinho** <span class='degree'>3.º Grau</span>

          * Ária — António Fragoso

          **Rodrigo Marques** <span class='degree'>4.º Grau</span>

          * Sonata k 283 em Sol Maior, 1.º andamento  — W. A. Mozart
          * Petite Anê Blanc — Jacques Ibert

          **Rodrigo Marques** <span class='degree'>4.º Grau</span>

          **Marta Rocha** <span class='degree'>4.º Grau</span>

          **Rita Cortez** <span class='degree'>5.º Grau</span>

          * Carmen — Georges Bizet
          * Valsa da Bela Adormecida — Piotr Tchaikovsky

          **Beatriz Azevedo** <span class='degree'>5.º Grau</span>

          * Estudo n.º 1 — Johann Cramer

          **José Soares** <span class='degree'>7.º Grau</span>

          * Estudo n.º 6 op. 72 — Moritz Moszkowski
          * Prelude n.º 6, General Lavine eccentric — Claude Debussy

          **Júlio Pereira** <span class='degree'>I.T. II</span>

          * Tom Waits — Pinho Vargas

        .section.has-text-centered
          p
            | Um obrigada a todos os que contribuíram para que este momento
            | musical fosse possível!
