html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    .container
      .hero
        .hero-body
          .has-text-centered
            div(style='margin-bottom: 2rem;')
              h1.title
                | Audição de Piano

              h2.subtitle
                | 19 de março de 2021, 18:15
                br
                | Classe da Professora Teresa Raminhos

              img(src='qr.png')

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')
          **Eva Baptista** <span class='degree'>Iniciação III</span>

          * Estudo n.º 2 em Sol Maior — Hervé / Pouillard
          * Joli Mois de Mai — Hervé / Pouillard
          * Les accords n.º 1 — Hervé / Pouillard

          **Beatriz Amaral** <span class='degree'>2.° Grau</span>

          * Sonatina op. 55 n.º 1, 1.º andamento — F. Kuhlau
          * Humming Bird — W. Gillock (Lyrical Preludes)

          **Gonçalo Soares** <span class='degree'>2.° Grau</span>

          * Sonatina em Ré M, 1.º andamento – J. Hook
          * Scavenger Hunt – M. Rejino

          **Gabriel Ferreira** <span class='degree'>2.° Grau</span>

          * Estudo n.º 17 op. 176 – J. Duvernoy
          * Ballade - Betty Colley

          **Manuel Soares** <span class='degree'>2.° Grau</span>

          * Arabesco – J. Burgmüller
          * At the end of the day – F. Kern

          **Gabriel Santos** <span class='degree'>3.° Grau</span>

          * Sonatina op. 36 n.º 4, 1.º andamento – M. Clementi
          * Fountain of Diana / Phantom Rider – W. Gillock (Lyrical Preludes)

          **Matilde Pinho** <span class='degree'>4.° Grau</span>

          * Gavotte – D. Scarlatti

          **Rodrigo Marques** <span class='degree'>5.° Grau</span>

          * Sinfonia n.º 3 BWV 789 – J. S. Bach
          * Dolorosas n.º 1 e 7 - Óscar da Silva

          **Convidado especial da Academia de Música de Oliveira de Azeméis**

          **José Soares** <span class='degree'>8.° Grau</span>

          * General Lavine eccentric (Prelúdio n.º 6, II Livro) – C. Debussy
          * Estudo op. 10 n.º 12, “Revolucionário” – F. Chopin

          **Matilde Pinho** & **Rodrigo Marques**

          * La bamba – arr. CM

          **Rodrigo Marques** & **Teresa Raminhos**

          * Super Mario Bros. Theme – Arr. Isao Horikoshi

        .section.has-text-centered
          p
            | Obrigada a todos os Encarregados de Educação pelo vosso apoio incondicional.
            | Parabéns a todos e votos de umas boas férias!
