html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css")
    style
      | .main-body { margin: 1rem; }
      | .main-body ul { margin-bottom: 2rem; }
      | .degree { text-transform: uppercase; font-size: .8rem; color: #999; letter-spacing: .05rem; margin-left: .5rem; }
  body
    p.has-text-centered
      img.splash(src='bg.jpg')

    .container
      .hero
        .hero-body
          .has-text-centered
            div(style='margin-bottom: 2rem;')
              h1.title
                | Audição de Piano

              h2.subtitle
                | 21 de junho de 2021, 19:15
                br
                | Classe da Professora Teresa Raminhos

              // img(src='qr.png')

            h2.title
              | Programa

      .main-body
        :markdown-it(html='true')
          **Eva Baptista** <span class='degree'>Iniciação III</span>

          * Estudo n.º 2 em Dó Maior — Hervé / Pouillard
          * My heart will go on (Titanic) — James Horner

          **Ana Beatriz Silva** <span class='degree'>Iniciação IV</span>

          * Please, no bees — Phillip Keveren
          * Ode to Joy — Phillip Keveren
          * Bingo — Phillip Keveren

          **Gonçalo Soares** <span class='degree'>2.º Grau</span>

          * Menuet em Ré menor — J.S. Bach
          * Estudo op. 176 n.º 14 — Jean-Baptiste Duvernoy

          **Manuel Soares** <span class='degree'>2.º Grau</span>

          * Menuet em Sol Maior — J. S. Bach
          * Estudo n.º 31 — Berens (50 Estudos Thompson)

          **Gabriel Ferreira** <span class='degree'>2.º Grau</span>

          * Sonatina op. 157 n.º 3, 1.º andamento — Fritz Spindler
          * Menuet em Sol menor — J. S. Bach
          * Estudo n.º 27 — Czerny (50 Estudos Thompson)

          **Beatriz Amaral** <span class='degree'>2.º Grau</span>

          * Sonatina op. 55 n.º 1, 1.º andamento — Friedrich Kuhlau
          * Marcha em Ré Maior — J. S. Bach
          * Estudo n.º 56 op. 599 — Czerny

          **Gabriel Santos** <span class='degree'>3.º Grau</span>

          * Estudo op. 37 n.º 24 — Henry Lemoine
          * Menuet em Sol menor (23 Peças Fáceis) — J. S. Bach

          **Matilde Campos Pinho** <span class='degree'>4.º Grau</span>

          * Estudo n.º 2 op. 299 — Carl Czerny
          * Gavotte — Domenico Scarlatti

          **Rodrigo Marques** <span class='degree'>5.º Grau</span>

          * Sinfonia n.º 3 BWV 789 — J. S. Bach
          * Nocturno op. 9 n.º 2 — Frédéric Chopin

          **Rodrigo Marques & Matilde Pinho** <span class='degree'>Piano a 4 Mãos</span>

          * Flying Petals — Lee Ji Soo

          **Rodrigo Marques & Teresa Raminhos** <span class='degree'>Piano a 4 Mãos</span>

          * Inspector Gadget Theme — Haim Saban (arr. Heyde / Tedesco)

        .section.has-text-centered
          p
            | A Professora Teresa Raminhos deseja a todos umas boas e merecidas férias!
